@model IEnumerable<ArmysalgClientWeb.Models.Product>


@{
    ViewData["Title"] = "Index";
}

<h1>Produkter</h1>


<table class="table">
        <tr>
            <th>
                Navn
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Lager antal
            </th>
            <th>
                Pris
            </th>
            <th>
                <center>Antal</center>
            </th>
        </tr>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.price.Value)
            </th>
            <td>
                <div class="form-group">
                    <form asp-action="AddToCart">
                        <center>
                            <input hidden="hidden" id="id" name="id" value="@item.Id" />
                            <input type="number" id="quantity" name="quantity" min="1" max=@item.Stock>
                            <input type="submit" value="Læg i kurv" class="btn btn-primary" />
                        </center>
                    </form>
                </div>
            </td>
        </tr>
}
</table>